* {
    margin: 0;
    padding: 0;
}

/* INDEX */
div {
    .titulo {
        color: rgb(255, 255, 255);
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 80px;
    }

    .listas {
        width: 1901px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        iframe {
            background-color: black;
            width: 800px;
            height: 400px;
            padding: 40px 565px;
        }
    }
}

ul {
    text-decoration: none;
    display: inline-block;
    padding: 20px 0px;
    margin: 20px 390px;

    .menu {
        background-color: rgb(238, 0, 0);
        text-decoration: none;
        display: inline-block;
        padding: 20px 60px;
        border: solid rgba(81, 223, 100, 0.829);
    }
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
        width: 276px;
        height: 405px;
        padding: 10px 36px;
        background-color: black;
        border: double rgb(253, 0, 0);
    

        p {
            color: rgb(255, 0, 0);
            background-color: bisque;
            width: 200px;
            height: 120px;
            padding: 26px 0px;
        }
    }

    .indumentaria {
        height: 200px;
        width: 200px;
    }
}

.footer{
    color: chartreuse;
    background-color: rgb(218, 142, 42);
    text-align: center;
    font-size: 30px;
}