* {
    margin: 0;
    padding: 0;
}

/* INDEX */
div {
    .titulo {
        color: rgb(255, 255, 255);
        font-family: 'Bungee Inline', cursive;
        text-align: center;
        font-size: 80px;
    }

    .listas {
        width: 1901px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

ul {
    .menu {
        background-color: rgb(238, 0, 0);
        text-decoration: none;
        display: inline-block;
        padding: 20px 60px;
        border: solid rgba(81, 223, 100, 0.829);
    }
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
